<div id="modalAddReporte" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default text-uppercase">AGREGAR EMISIONES</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9 col-10 pr-1">
                        <div class="form-group">
                            <label for="cantEmision">Cantidad de Programas</label>
                            <input type="text"
                                   class="form-control input-number"
                                   placeholder="Teclee las emisiones a reportar"
                                   id="cantEmision" name="cantEmision">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer update ml-auto mr-auto">
                <button type="button" class="btn btn-primary" id="btnAddPersona">Guardar</button>
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
